/* ========== import font source ========== */
@import "fonts.css";

/* ========== import custom styles ========== */
@import "custom-styles.css";

@import "tailwindcss";

@theme {
  --color-dark: #111111;
  --color-light: #ffffff;
  --color-blue: #33d2ff;
  --color-gray: #c4c4c4;
  --color-dark-gray: #1a1a1a;
  --font-inter: "Inter", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}

@custom-variant dark (&:where([data-theme="dark"] *));

/* ========== tailwind custom styles ========== */
@layer components {
  body {
    @apply bg-light dark:bg-dark;
  }
  .container {
    @apply max-w-[1112px] mx-auto px-4;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-outfit;
  }
  h1 {
    @apply text-6xl sm:text-8xl;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  p,
  li,
  a {
    @apply font-inter text-dark-gray;
  }
  .footer-icons {
    @apply dark:text-light flex items-center border border-dark dark:border-light p-4 rounded-lg justify-center;
  }
}
